<div class="body">
  <main class="main">
    <div class="card">
      <article class="person">
        <img class="person__photo" src="../assets/img/meCard.png" alt="Moje zdjecie do wizytówki">
        <div class="person__person">
          <header class="person__header">
            <h1 class="person__name">Arkadiusz Skorek</h1>
            <span class="person__position">junior fullstack developer</span>
          </header>
          <p class="person__description">
            Jestem <strong class="person__description--highlight">.net</strong> developerem z 2 letnim doświadczeniem. W
            przyszłości chciałbym zostać <strong class="person__description--highlight">fullstack developerem (.net core
              + angular)</strong>. Lecz programowanie to nie jest moje jedyne hobby, jeśli jesteś ciekaw zajrzyj do
            bloga!😇
          </p>
          <p class="person__socialMedia">W sieci:
            <a class="person__socialMedia--link" href="https://github.com/arekskorek94">GitHub</a>, <a class="person__socialMedia--link" href="https://www.linkedin.com/in/arkadiusz-skorek">LinkedIn</a></p>
        </div>
      </article>
      </div>
      <section class="blog">
        <a class="blog__link" [routerLink]="['/home']"><strong class="blog__link--text">Enter</strong>
          <p class="blog__description--text">Wejście do bloga</p>
        </a>
      </section>
  </main>
  </div>


