<div class="programming">
  <div class="header card">
    <img class="portrait" src="../../../assets/img/meCard.png" alt="Moje zdjęcie">
    <div class="experience">
      <header class="experience__header">
        <h1 class="experience__name">Arkadiusz Skorek</h1>
        <span class="experience__position">junior fullstack developer</span>

        <div class="experience__content">
          <div class="experience__about">
            <h3 class="highlight">O mnie</h3>
            <p>
              Jestem .NET developerem z 2 letnim doświadczeniem w programowaniu. Ukończyłem studia I stopnia z
              informatyki na KUL-u.
            </p>
          </div>
          <div class="experience__skill">
            <h3 class="highlight">Główne technologie</h3>
            <ul>
              <li>C#</li>
              <li>.NET Core 3</li>
              <li>Angular</li>
              <li>HTML/CSS</li>
              <li>JavaScript</li>
            </ul>
          </div>
        </div>

      </header>
      <div>

      </div>
    </div>
  </div>

</div>

<div class="skill">
  <div class="skill__header">
    <h3>Umiejetności</h3>
  </div>
  <div class="skill__content">
    <div class="skill__list">
      <app-skill-list></app-skill-list>
    </div>
    <div class="skill__details">
      <app-skill-detail></app-skill-detail>
    </div>
  </div>

</div>
